html, 
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    font-style: underline;
    margin-top: 32px;
}

footer{
    background-color: lightgray;
    display: flex;
    padding: 1em;
    justify-content: center;
}
.game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 2em;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.score-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.25em;
}
.score-header{
    flex: 1;
}
.player-choice{
    font-size: 2rem;
    padding: 24px;
    color: white;
    background-color: black;
    border-radius: 12px;
}

.result-container{
    border: 2px solid gray;
    border-radius: 14px;
    font-size: 1.5em;

    background-color: black;
    color: white;
    padding: 10px;
}